name = "consia-api"
main = "worker.js"
compatibility_date = "2026-01-09"
workers_dev = true

account_id = "TU_ACCOUNT_ID_DE_CLOUDFLARE"

[durable_objects]
bindings = [
  { name = "MEMORY", class_name = "CONSIA_MEMORY" },
  { name = "IDENTITY", class_name = "CONSIA_IDENTITY" },
  { name = "UI_STATE", class_name = "CONSIA_UI_STATE" },
  { name = "OWNER", class_name = "CONSIA_OWNER" }
]

[[migrations]]
tag = "v2"
new_classes = [
  "CONSIA_MEMORY",
  "CONSIA_IDENTITY",
  "CONSIA_UI_STATE",
  "CONSIA_OWNER"
]
