name = "consia-api"
main = "worker.js"
compatibility_date = "2026-02-21"

[durable_objects]
bindings = [
  { name = "CONSIA_STATE", class_name = "ConsiaState" },
  { name = "MEETING_DO", class_name = "MeetingRoom" }
]

[[migrations]]
tag = "v2026_02_22_meeting_room"

new_sqlite_classes = ["MeetingRoom"]
