name = "consia-api-v2"
main = "src/index.ts"
compatibility_date = "2026-01-01"

[[durable_objects.bindings]]
name = "MEETING_DO"
class_name = "ConsiaState"

[[migrations]]
tag = "v1"
new_sqlite_classes = ["ConsiaState"]
