name = "consia-api"
main = "worker.js"
compatibility_date = "2026-01-09"

[durable_objects]
bindings = [
  { name = "CONSIA_PORTAL", class_name = "CONSIA_PORTAL" }
]

[[migrations]]
tag = "v1"
new_classes = ["CONSIA_PORTAL"]
