name = "consia-api"
main = "worker.js"
compatibility_date = "2026-01-01"

[durable_objects]
bindings = [
  { name = "CONSIA_STATE", class_name = "ConsiaState" },
  { name = "ROOM", class_name = "RoomDO" }
]

[[migrations]]
tag = "v1"
new_classes = ["ConsiaState","RoomDO"]
